*,
body,
div,
input,
button,
span,
select {
  outline: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 0;
  -webkit-appearance: none;
  color: #444;
}

input,
button,
select {
  padding: 20px;
  background-color: #ccc;
}

button {
  background-color: #3c3;
  color: #fff;
}

button.remove {
  background-color: #c33;
}

h1,
h2,
h3,
h4,
h5 {
  margin-bottom: 10px;
  margin-top: 20px;
}

body {
  padding: 5%;
}
